/*one*/
h1{
    text-align: center;
    text-transform: capitalize;

}

p{
    text-transform: capitalize;
}
/*two*/
#one{
    font-family: 'Times New Roman';
}

/*three*/


#outer{
    font-size: 25px;
}
#inner{
    font-size: 10px;
}
